* {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  background-color: rgb(41, 41, 41);
  color: #f5f5f5;
}

.box {
  width: 1366px;
  height: 766px;
  border: 2px solid white;
  position: absolute;
  z-index: -1;
}

.title-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

#title {
  margin-top: 20px;
  font-size: 70px;  
}

.main-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid red;
  width: 70%;
  min-height: 500px;
  margin: 20px auto;
}

#rgb-color {
  /* display: block; */
  font-size: 40px;
  margin-top: 10px;  
}

.ball-container {
  display: flex;
  justify-content: space-evenly;  
  align-items: center;
  border: 1px solid white;
  width: 80%;
  height: 150px;
  margin: 20px auto;
}

.ball {
  width: 100px;
  height: 100px;
  border: 1px solid white;
  border-radius: 100%;
}

#answer {
  font-size: 40px;
}

#reset-game {
  background-color: initial;
  background-image: linear-gradient(-180deg, #714281, #440758);
  border-radius: 5px;
  box-shadow: rgba(255, 0, 0, 0.1) 1000 2px 4px;
  color: #FFFFFF;
  font-size: 20px;
  margin-top: 10px;
  width: 120px;
  height: 50px;
}

#reset-game:hover {
  background: #560970;
}


